@import "tailwindcss";

body {
  background-color: black;
  color: white;
  font-family: "Caveat", cursive;
  user-select: none;
  overflow-x: hidden !important;
}

@media (max-width: 640px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.evidence-link,
.ghosts-link {
  background-color: #beae75;
  /* border: 1px solid rgb(245, 216, 129); */
}

.page {
  background-image: url("./assets/background.png");
  background-color: #d8cbb8;
  color: black;
  box-shadow: inset 0 0 100px -10px #f2d97f;
  position: relative;
  max-width: 128rem;
  width: 100%;
  /* margin: 2rem 1rem; */
  opacity: 1;
  /* height: 41rem; */
}

@media (min-width: 640px) {
  .page {
    height: 42rem;
    max-width: 65rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 30px;
  }
  /* .evidencediv1 {
    width: 40rem;
  }
  .evidencediv2 {
    width: 40rem;
  }
  .ghost-list-div {
    width: 30rem;
  }
  .ghost-desc-div {
    width: 30rem; 
  } */
  .ghosts-page {
    margin-left: 15.5rem;
  }
}

@media (max-width:1400px){
  .ghosts-page{
    margin-left: 10rem;
  }
}
@media (max-width:1200px){
  .ghosts-page{
    margin-left: 5rem;
  }
}

@media (max-width:1000px){
  .page{
    flex-direction: column;
    height: 100%;
  }
  .page{
    width: 40rem !important;
  }
  .ghosts-page{
    margin-left: 0;
  }
}

@media (max-width:440px){
  .page{
    width: 100vw !important;
    /* padding-left: 2rem !important;
    padding-right: 2rem !important; */
    /* margin-left: 2rem; */
    margin-left: -3rem !important;
  }
  .main-div{
    width: 110vw;
  }
  .ghosts-page{
    width: 100vw !important;
    margin-left: 0 !important;
    /* margin-left: 1rem !important; */
  }
}

@media (max-width:375px){
  .main-div{
    width: 130vw;
  }
  .ghosts-page{
    width: 130vw !important;
  }
}

.evidence-page {
  background-color: #d8cbb8;
}

.evidence-page::before {
  content: "";
  background-image:
    linear-gradient(rgb(113 113 122 / 0.1) 1px, transparent 1px),
    linear-gradient(to right, rgb(113 113 122 / 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.ghosts-page {
  background-color: #d8cbb8;
}

.ghosts-page::before {
  content: "";
  background-image:
    linear-gradient(rgb(113 113 122 / 0.1) 1px, transparent 1px),
    linear-gradient(to right, rgb(113 113 122 / 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.evidence-list {
  padding: 5px;
  margin-top: 10px;
}

@media (max-width: 400px) {
  .evidence-list {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
}

.evidence-checkbox {
  border: solid rgb(28 25 23);
  border-width: 3px 3px 3px 2px;
  border-radius: 2px;
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  appearance: none;
  margin-top: 5px;
}

.evidence-label {
  padding-bottom: 14px;
}

.checkbox-and-text {
  display: flex;
  height: 35px !important;
  width: fit-content;
  transition: all 0.3s ease;
}
.checkbox-and-text:hover {
  background-color: #3ec8ff;
  border-radius: 40px 20px;
}

.evidence-label.crossed::after {
  content: "";
  display: block;
  position: absolute;
  width: 70%;
  top: 19%;
  height: 4px;
  border-bottom: 3px solid black;
  border-radius: 100%;
  transform: translateY(-48%);
  left: -5%;
}

.evidence-checkbox.checked::after {
  content: "X";
  position: relative;
  top: -16px;
  left: -4px;
  font-size: 35px;
  font-weight: 600;
}

.ghost-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  /* margin-top: 15px; */
  padding: 8px;
}

@media (max-width: 400px) {
  .ghost-list {
    padding: 0px;
  }
}

/* @media (max-width: 40rem) {
  .ghost-list {
    gap: 0;
  }
} */

.ghost {
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
  pointer-events: auto !important;
  position: relative;
  font-weight: 500;
  /* z-index: 1; */
}

.ghost:hover {
  background-color: #3ec8ff !important;
  border-radius: 90px 50px;
  /* opacity: 0.5 !important; */
}

@media (max-width: 400px) {
  .ghost {
    padding: 2px;
  }
}

.ghost.crossed::after {
  content: "";
  display: block;
  position: absolute;
  width: 90%;
  top: 50%;
  height: 4px;
  border-bottom: 3px solid black;
  border-radius: 100%;
  transform: translateY(-50%);
}

.ghost.circled::after {
  content: "";
  display: block;
  position: absolute;
  border: 3px solid black;
  border-radius: 100%;
  width: 97%;
  height: 97%;
  top: 45%;
  left: 1%;
  transform: translateY(-50%);
}

.ghost:not(.circled):not(.crossed) {
  background-color: transparent;
  text-decoration: none;
}

.blurred {
  opacity: 0.3;
  /* pointer-events: none !important; */
}

.evidence-separator {
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(0, 0, 0, 0.08) 25%,
    rgba(171, 154, 126, 0.8) 50%,
    rgba(0, 0, 0, 0.08) 75%,
    transparent 100%
  );
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.05);
}

.nav-tab {
  position: relative;
}

.nav-tab::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: #d8c88e;
  border-radius: 10px 10px 0 0;
  transform: perspective(50px) rotateX(10deg);
  transform-origin: bottom;
}
